<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
  height:550px;
  }
  html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  </style>
  
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  
  <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script
    
  <!-- Chart code -->
  <script>
  
  var c_data = [];
    var chart_data = [];
    this.newArr = [];
    var count  = 0;
    var limit = 10;
    var timer = null;
    var initial = 0;


    
    const getData = (url) => {
      return new Promise((resolve, reject) => {
        fetch(url)
        .then(res => res.json())
        .then(res => resolve(res))
        .catch(err => reject(err))
      });
    }

    const setData = async (c_data, link_id, old_id='') => {
      myarr = [];
      c_data.connected_devices_details_id.filter(d => d != old_id).forEach(async (element, index, array) => {
        // c_data.connected_devices_details[index] != link_id ? 
        chart_data.findIndex(d => d.key_id == c_data.connected_devices_details_id[index]) == -1 ?
        myarr.push({
          name : c_data.connected_devices_details[index],
          value : c_data.interface_parent_device.filter(x => x.id == element).length,
          key_id: c_data.connected_devices_details_id[index],
        }) 
        : null
        if(index == 0){
          chart_data_pos = chart_data.length > 0 ? chart_data[chart_data.length -1].children.findIndex(d => d.key_id == old_id) : -1
          // console.log(chart_data_pos)
          if(chart_data_pos >= 0)
          {
            chart_data[chart_data.length -1].children[chart_data_pos].children = myarr
          } else {
            chart_data.push({
              name: c_data.device_name,
              key_id: c_data._id,
              value: c_data.total_interface_connected_with_devices,
              children : myarr,
              'linkWith' : [
              link_id
            ]
            });
          }
        }
      })

      // Get new data from
      if(chart_data.length > 0){
        let new_data = chart_data[chart_data.length -1]
        let data = new_data.children[initial];
        
        data_inner = await getData(`http://127.0.0.1:3000/api/v1/device/connections/${data.key_id}`)

        initial = initial < new_data.children.length - 1 ? initial + 1 : null 
        

        timer ? clearInterval(timer) : null;
        count++
        if(data_inner.length > 1 && initial){
            timer = count < limit || limit == -1 ? setData(data_inner[0], data.name, data.key_id) : setTimeout(fun, 1000); 
        } else {
          setTimeout(fun, 1000)
          initial = 0;
          count = 0;
          // setData(data_inner[0], data.name, data.key_id)
        }
      }
      
      // fun();
    }

    
    const intiCall = async (data = '<%=param%>') => {
      c_data = await getData(`http://127.0.0.1:3000/api/v1/device/connections/${data}`);
      if(c_data.length > 1){
        c_data = c_data[0];
        await setData(c_data, '');
      }
    } 
  
  intiCall();

  const fun = () => {
  am4core.ready(async function() {
  
  // Themes begin
  am4core.useTheme(am4themes_animated);
  // Themes end
  
  var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
  
  var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())
  networkSeries.dataFields.linkWith = "linkWith";
  networkSeries.dataFields.name = "name";
  networkSeries.dataFields.id = "name";
  networkSeries.dataFields.value = "value";
  networkSeries.dataFields.children = "children";
  
  networkSeries.nodes.template.label.text = "{name}"
  networkSeries.fontSize = 8;
  networkSeries.linkWithStrength = 0;
  
  var nodeTemplate = networkSeries.nodes.template;
  nodeTemplate.tooltipText = "{name}:{value}";
  nodeTemplate.fillOpacity = 1;
  nodeTemplate.label.hideOversized = true;
  nodeTemplate.label.truncate = true;
  
  var linkTemplate = networkSeries.links.template;
  linkTemplate.strokeWidth = 1;
  var linkHoverState = linkTemplate.states.create("hover");
  linkHoverState.properties.strokeOpacity = 1;
  linkHoverState.properties.strokeWidth = 2;
  
  nodeTemplate.events.on("over", function (event) {
      var dataItem = event.target.dataItem;
      dataItem.childLinks.each(function (link) {
          link.isHover = true;
      })
  })
  
  nodeTemplate.events.on("out", function (event) {
      var dataItem = event.target.dataItem;
      dataItem.childLinks.each(function (link) {
          link.isHover = false;
      })
  })
  
  console.log(chart_data)

  networkSeries.data = chart_data;
  
  document.getElementById('load').remove();
  
  }); // end am4core.ready()
  }
  
  anychart.onDocumentReady(function () {
  anychart.data.loadJsonFile("https://static.anychart.com/git-storage/word-press/data/network-graph-tutorial/data.json", function (data) {

    // create a chart from the loaded data
    var chart = anychart.graph(data);

    // set the title
    chart.title("Network Graph");

    // draw the chart
    chart.container("container").draw();

  });
});

  </script>
  
  <!-- HTML -->
  <div style="margin: 0px auto; text-align:center; font-size:45px;" id="load"><h2>Loading</h2></div>
  <div id="chartdiv"></div>
  <div id="container"></div>